{% extends template.self %}


{% block search_input %}
<div id="book-search-input" role="search">
    <input type="text" placeholder="{{ 'SEARCH_PLACEHOLDER'|t }}" />
</div>
{% endblock %}


{% block page %}
{{ page.content|safe }}



<!-- 友言 -->
<!--
<br>
<h3>
  有任何疑问，请在下方畅所欲言。
  <span style="float:right;">
    喜欢请点击下方
    <span style="color: #f9a31a">★</span>
  </span></h3>
<br>
<div id="uyan_frame"></div>
<script>UYAN_L.init();</script>
-->
{% endblock %}


{% block javascript %}
{{ super() }}
<!-- 友言 -->
<!--
<script src="http://v2.uyan.cc/code/uyan.js?uid=1698464"></script>
-->
{% endblock %}
